/* Dark mode styles */

/* ------------------------------------- */
/* ---------- Select2 Library ---------- */
/* ------------------------------------- */

/* See https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-5-theme/1.2.0/select2-bootstrap-5-theme.css */

/* Change the appearence of the bakground colour surrounding the search input field */
.select2-search {
    background-color: #1a1a1a !important;
}
    /* Change the appearence of the search input field */
    .select2-search input {
        color: #ffffff !important;
        background-color: #111111 !important;
        background: #222;
    }
.select2-drop{
    background: #222;
}
/* Change the appearence of the search results container */
.select2-results {
    background-color: #1b1b1b !important;
}

.select2-results .select2-no-results{
    background-color: #1b1b1b !important;
}

/* Change the appearence of the dropdown select container */
.select2-container--bootstrap-5 .select2-selection {
    border-color: #838383 !important;
    color: #ffffff !important;
    background-color: #3b3b3b !important;
}



/* Change the color of the default selected item i.e. the first option */

.select2-container .select2-choice {
    background-color: #111111;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000),color-stop(0.5,#1a1a1a));
    color: #fff;
}

.select2-drop{
    color: #fff !important;
}

.header {
    background: #00000000;
}

body {
    color: white;
    background-color: black;
}

.btn {
    background-color: #161616;
    color: #B7B7B7;
}

.btn:hover {
    z-index: 10;
    border-color: #888888;
    background: black;
}

.visually-hidden:focus + .btn,
.btn:hover {
    z-index: 10;
    border-color: #888888;
    background: black;
}

.visually-hidden:checked + .btn {
    font-weight: bold;
    color: white;
    background: #000042;
}

.visually-hidden:disabled + .btn {
    color: black;
}

fieldset {
    background-color: #222222;
}

select {
    background-color: black;
    color: white;
}

a.links-lighten {
    color: #7A9CFF;
}

a.links-lighten:hover {
    color: #C2D0FF;
}

a.links-lighten:visited {
    color: #BC8BEA;
}

a.links-lighten:visited:hover {
    color: #DACAF7;
}

input {
    background-color: black;
    color: white;
}

textarea {
    background-color: black;
    color: white;
}

.wrapper {
    background-color: black;
    color: white;
}

a.collapsible-link {
    color: white;
}

.bs-btn {
    background-color: #161616;
    color: #B7B7B7;
}

.bs-btn:hover {
    z-index: 10;
    border-color: #888888;
    background: black;
}

.popover-content {
    background-color: #161616;
    color: #B7B7B7;
}

.dataTables_info {
    color: #B7B7B7 !important; /* I know, don't use !important, but w/e */
}

.search-label {
    color: #B7B7B7;
}

tr.odd, tr.even {
    background-color: rgb(0 0 0) !important;
}


td.sorting_1 {
    background-color: rgb(25 25 25) !important;
}


label:not(.btn) {
    color: white;
}
